body {
    font-family: Arial;
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
}

input[type=text], input[type=password], input[type=email] {
    padding: 8px;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    margin: 20px;
    padding: 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

th,td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.btn-update {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-delete {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/**/

form { 
    max-width: 500px; 
    margin: auto; 
    background: #fff; 
    padding: 25px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
